---
layout: layout.vto
title: home
---
<div class="splash">
  {{# Splash logo: #}}
  <img
    class="splash"
    src="/assets/images/Austra_cub_TITLE_Logo_01_blue.png"
    alt="Chin Up Buttercup"
    title="Chin Up Buttercup"
  />
  <p class="center" style="text-align: center">
    <a href="/pages/shows">Buy Tickets</a>
  </p>
</div>
