---
layout: layout.vto
title: home
---
<div class="splash">
  {{# Splash logo: #}}
  <img
    class="splash"
    src="/assets/images/Austra_Light_Logo-01_blue.png"
    alt="Austra"
    title="Austra"
  />
</div>
