<header class="spread">
	<a href="/" id="header-title">
		<div class="logo" role="img" alt="Austra homepage">
			{{ include "logo.vto" }}
		</div>
	</a>
	<nav>
		<ul>
			{{# Direct link to dear buttercup #}}
			<li class="menu-item">
				<a href="https://dearbuttercup.austra.fyi/" target="_blank" rel="external">dear buttercup</a>
			</li>

			{{ for page of search.pages("type=pages") }}
			<li class="menu-item">
				<a href="{{ page.url }}">{{ page.title }}</a>
			</li>
			{{ /for }}
		</ul>
	</nav>
</header>