<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <meta name="robots" content="noai, noimageai">
    <meta property="og:type" content="website">
    <meta name="author" content="Austra">
    <title>{{ name }} - {{title}}</title>
</head>
<body>
    <header>
        <a href="/" id="header-title">
            {{# <h1>{{ name }}</h1> #}}
            <img src="assets/images/Austra LIGHT Logo-01.png" alt="Austra" title="Austra" class="logo">
        </a>
        <nav>
            <ul>
                {{ for page of search.pages("type=pages") }}
                    <li class="menu-item"><a href="{{ page.url }}">{{ page.title }}</a></li>
                {{ /for }}
            </ul>
        </nav>
    </header>
    <div class="page-width center"><hr></div>

    <main>
        {{ content |> safe }}
    </main>

    <footer>
        <span id="copyright">&copy; {{ date |> date('y') }} {{ name }}</span>
    </footer>
</body>
</html>