<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <meta name="robots" content="noai, noimageai">
    <meta property="og:type" content="website">
    <meta name="author" content="Austra">
    <title>{{ name }} - {{ title }}</title>
  </head>
  <body>
    {{ include "header.vto" }}

    <main>
      {{ content |> safe }}
    </main>

    {{ include "footer.vto" }}

    <script>
      // Make all external links open in a new tab and apply external class
      Array.from(document.links)
        .filter((link) => link.hostname != window.location.hostname)
        .forEach((link) =>
          link.target = "_blank" && link.classList.add("external")
        );
    </script>
  </body>
</html>
