---
title: merch
draft: false
---

<div class="center" style="text-align: center;">
	<h2>Choose your region:</h2>
	<h3>
		<a href="https://austra.fohmerch.store/">UK</a>
	</h3>

	<h3>
		<a href="https://hypecart.de/collections/austra">Europe</a>
	</h3>
	<h3>
		<a href="https://merch.ambientinks.com/collections/austra">USA</a>
	</h3>

	<h3>
		<a href="https://cutloosemerch.ca/collections/austra">Canada</a>
	</h3>
</div>