---
title: shows
draft: true
---
{{# Seated Widget #}}
<div id="seated-55fdf2c0" data-artist-id="b2192f24-1e40-4fec-9a81-f004c48f46e7" data-css-version="3"></div>
<script src="https://widget.seated.com/app.js"></script>