<div class="image-with-text">
  <div class="image-with-text__image">
	{{ if image_link }}
		<a href="{{ image_link }}">
	{{ /if }}
      <img src="{{ image_url }}" alt="{{ image_alt }}" />
    {{ if image_link }}
		</a>
	{{ /if }}
  </div>
  <div class="image-with-text__text">
    <h2>{{ heading }}</h2>
    <p>
      {{ text }}
    </p>
    <p><a href="{{ button_link }}">{{ button_label }}</a></p>
  </div>
</div>
